<button (click)="openDirectory()" class="btn btn-primary btn-lg btn-block" >{{projectName}}</button>
<div class="cdeWrapper">
    <div class="list-group">
            <div class="list-group-item" *ngFor="let cdeNode of cdeNodes; let i = index;" (click)="openFile(i)" >
                <app-node  ></app-node>
            </div>
    <!-- <div [ngClass]="{'subnodes':true}" *ngIf="currentCdeNodeIndex == i" >
            {{currentCdeNode | json}}   
        </div> -->
    </div>
    
    <div class="fileEditor card">
    
    </div>
</div>
