<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item" *ngFor="let navLink of navLinks">
            <a class="nav-link" [routerLink]="navLink.path" >
                {{navLink.name}}
            </a>
        </li>
    </ul>
</nav>
<router-outlet></router-outlet>
<div class="logger_component card">
    <div class="minimize card-header" (click)="showLogs = !showLogs">Toggle Logs</div>
    <div [ngClass]="{'colapse':!showLogs, 'logs':true}">
        <div *ngFor="let log of loggerService.logs; let i = index;" class="log card"><span class="index">{{i + 1}}</span><span>{{log}}</span></div>
        <button type="button" class="btn-secondary btn clear_logs_btn" (click)="loggerService.logs = [];">Clear logs</button>
    </div>
</div>
