.logger_component {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
    background: #fff;
    z-index: 100;
}
.logs {
    height: 300px;
    overflow: scroll;
    font-size: 14px;
    transition: height 0.5s ease-in-out;
    position: relative;
    &.colapse {
       height: 0px;
       .minimize {
           bottom: 0;
       }
    }
}
.minimize {
    width: 100%;
    cursor: pointer;
    background: grey;
    text-align: center;
    color: #fff;
}
.log {
  flex-direction: row;
  span {
    width: 90%;
  }
  .index {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
.clear_logs_btn {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0 auto;
}
